.section {
  padding: 2rem 4rem;
}

.header {
  margin-bottom: 2rem;
}

.input {
  width: 100%;
  margin-bottom: 2rem;
  padding: 1.25rem 2rem;
  background-color: #D8D8D8;
  border: 1px solid #518AB8;
  border-radius: 1rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  font: inherit;
}

.cardsContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
