@import '@/styles/variables.scss';

$color-surface: #D4DDE2;
$color-base: #FFFFFF;
$color-text-main: #1E293B;

.card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1.25rem 2rem;
  border-radius: 1rem;
  
  background-color: $color-base;
  border: 1px solid rgba($color-surface, 0.8);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.02);
  
  color: $color-text-main; 
  text-decoration: none;
  transition: all 0.2s ease;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 12px -3px rgba(0, 0, 0, 0.05);
    border: 2px solid rgba($action-primary, 0.4); 

    svg: {
      color: red;
    }
  }
}